.title-area{
  display: flex;
  justify-content: center
}

.title1{
  display: flex;
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  width: 50%;
  justify-content: center
}

.serect-area{
  justify-content: center;
}

.title2{
  margin: 0 auto;
  text-align: center;
	font-size: 26px;
	background-image: linear-gradient(rgba(0,0,0,0) 70%, rgb(252,81,133) 70%);
  width: 50%;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  padding: 15px;
  max-width: fit-content;
  margin: auto;
}

.btn {
  text-decoration: none;
  background-color: #EC84A0;
  color: #FFFFFF;
  border-radius: 32px;
  box-shadow: 3px 3px 10px #00000029;
  font-size: 16px;
  padding: 15px 30px;
  margin-bottom: 12px;
  text-align: center;
  }

.reply-area{
  text-align: center;
}

.title3{
  margin: 0 auto;
  text-align: center;
	font-size: 26px;
	background-image: linear-gradient(rgba(0,0,0,0) 70%, rgb(252,81,133) 70%);
  width: 50%;
}

.comment{
  flex-direction: column;
  justify-content: center
}

.message{
  padding-top: 5px;
  color: blue;
  display: flex;
  justify-content: center;
}

.cheer-reply{
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size:large;
  max-width: 50%;
  margin:0 auto;
};