.title-area{
  background-color: #EC84A0;
}



.btn-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.btn {
  text-decoration: none;
  background-color: #EC84A0;
  color: #FFFFFF;
  border-radius: 32px;
  box-shadow: 3px 3px 10px #00000029;
  font-size: 16px;
  padding: 15px 30px;
  margin-bottom: 12px;
  };

  